.git
**/.git
__pycache__/
**/__pycache__/
*.py[co]
**/*.py[co]
.pytest_cache/
**/.pytest_cache/
.mypy_cache/
**/.mypy_cache/
.ruff_cache/
**/.ruff_cache/
.env
**/.env
Dockerfile
tmp/
**/tmp/
data/
**/data/
node_modules/
**/node_modules/
dist/
**/dist/
target/
**/target/
.webpack_cache/
**/.webpack_cache/
unpackage/
**/unpackage/
